html, body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'DejaVuSans';
    src: url('/fonts/DejaVuSans.ttf'); format('truetype');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', 'DejaVuSans', sans-serif;
}

.frame {
    margin: 0;
    height: 100vh;
    position: relative;
    font-family: 'Lato', 'DejaVuSans', sans-serif;
}

#content {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
}

.content-liner {
    width: 100%;
    height: 100%;
}

.flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

.one {
    flex: 1 1 50%;
    background-color: #313a75;
}

.vert {
    width: 100%;
    height: 50%;
}

.flat {
    width: 50%;
    height: 100%;
}

.map-canvas-wrapper {
    width: 100%;
    height: 100%;
}

#map-canvas {
    width: 100%;
    height: 100%;
}

.two {
    flex: 1 1 50%;
    background-color: #7c83af;
}

.info {
    width: 100%;
    height: 100%;
}

.info .name {
    width: 50%;
}

.info .location {
    width: 50%;
}

.info .notes {
    height: 200px;
    width: 100%;
}


.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.row {
    max-width: 100%;
}

.gmnoprint img {
    max-width: none;
}
