@font-face {
    font-family: 'DejaVuSans';
    src: url('/fonts/DejaVuSans.ttf'); format('truetype');
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', 'DejaVuSans', sans-serif;
    font-weight: 300;
    overflow: hidden;
}

div {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#content {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.flex-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.flex-container.portrait {
    fled-direction: column;
}

.flex-container.landscape {
    flex-direction: row;
}

.flex-content {
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

#map {
    width: 100%;
    height: 100%;
}

#drawer-wrapper {
    width: 100%;
    height: 100%;
}

#drawer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
    color: white;
    font-size: .9em;
    background-color: rgba(33,33,33,0.9);
}

#drawer.portrait {
    height: 33%;
    width: 100%;
}

#drawer.landscape {
    width: 33%;
    height: 100%;
}

#drawer.portrait.hide {
    transition-duration: .1s;
    transition-property: transform;
    transform: translate3d(0, 100%, 0);
}

#drawer.landscape.hide {
    transition-duration: .1s;
    transition-property: transform;
    transform: translate3d(100%, 0, 0);
}

.show {
    transition-delay: .37s;
    transition-duration: 1s;
    transition-property: transform;
    transform: translate3d(0, 0, 0);
}

#info {
    width: 100%;
    height: 100%;
    padding: .5em;
    display: flex;
    flex-direction: column;
}

#info .origin {
    width: 100%;
    padding: 4px;
}

#info .location {
    width: 100%;
    padding: 4px;
}

.name {
    height: 33px;
    padding-top: 9px;
    padding-left: 4px;
    padding-right: 4px;
    line-height: normal;
    vertical-align: middle;
    //padding: 4px;
    border-radius: 3px;
    font-size: 1.3em;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.name.input {
    padding-top: 6px;
}

.notes {
    width: 100%;
    flex: 2 2 auto;
    border-radius: 3px;
    overflow: hidden;
    padding: 4px;
}

.input {
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: rgba(33,33,33,0.9);
    color: white;
    border-radius: 0;
}

#input-ok {
/* #33ff99 */
    position: fixed;
    z-index: 5;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid rgb(33, 255, 150);
    cursor: pointer;
    display: flex;
    display: inline-block;
    text-align: center;
}

#input-ok-mark {
    font-size: 150%;
    width: 100%;
    height: 100%;
    position: relative;
    top: -2px;
    margin: auto;
}

#input-ok:hover {
    color: rgb(33, 255, 150);
}

#input-ok:active {
    color: rgb(33, 255, 150);
}

.editable:hover {
    cursor: pointer;
/*#5599ff*/
    box-shadow: 0px 0px 0pt 1pt rgba(33, 150, 255, 0.9);
}

.editable:empty:not(:focus):before {
    content: attr(data-ph);
    color: darkgrey;
}

.select-list {
    width: 100%;
    height: 100%;
    padding-left: .5em;
    padding-right: .5em;
}

.name-select {
    width: 100%;
    height: 33px;
    margin-top: .5em;
    margin-bottom: .5em;
    border-radius: 3px;
    display: flex;
    box-shadow: 0px 0px 0pt 1pt rgba(33, 150, 255, 0.9);
}

.name-select:hover {
    cursor: pointer;
}

.name-select:focus {
    box-shadow: inset 0px 0px 0pt 1pt rgb(33, 255, 150);
}

.name-select-title {
    margin: auto;
    font-size: 1.3em;
}

[contentEditable="true"]:focus {
    cursor: text;
    box-shadow: inset 0px 0px 0pt 1pt rgb(33, 255, 150);
    outline: 0px solid transparent;
}

[contenteditable="true"].single-line {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: content-box;
}

[contenteditable="true"].single-line br {
    display: none;
}

[contenteditable="true"].single-line * {
    display: inline;
    white-space: nowrap;
}

.control-panel {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    width: 50%;
    height: 45px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.navicon {
    position: relative;
    padding-left: 2em;
}

.navicon.active::before {
    border-top: 0.5em double rgba(33, 150, 255, 0.9);
    border-bottom: 0.2em solid rgba(33, 150, 255, 0.9);
}

.navicon::before {
    content: "";
    position: absolute;
    top: -0.30em;
    left: 0;
    width: 1.5em;
    height: 0.125em;
    border-top: 0.5em double rgba(256, 256, 256, 0.9);
    border-bottom: 0.2em solid rgba(256, 256, 256, 0.9);
}

.navicon:hover::before {
    cursor: pointer;
    border-top: 0.5em double rgba(33, 150, 255, 0.9);
    border-bottom: 0.2em solid rgba(33, 150, 255, 0.9);
}
