html, body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'DejaVuSans';
    src: url('/fonts/DejaVuSans.ttf'); format('truetype');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', 'DejaVuSans', sans-serif;
}

.frame {
    margin: 0;
    height: 100vh;
    position: relative;
    font-family: 'Lato', 'DejaVuSans', sans-serif;
}

#content {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
}

.content-liner {
    width: 100%;
    height: 100%;
}

.flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

.one {
    flex: 1 1 50%;
    background-color: #313a75;
}

.vert {
    width: 100%;
    height: 50%;
}

.flat {
    width: 50%;
    height: 100%;
}

#map-canvas {
    width: 100%;
    height: 100%;
}

.two {
    flex: 1 1 50%;
    background-color: #7c83af;
}

.info {
    width: 100%;
    height: 100%;
    padding: .5em;
    display: flex;
    flex-direction: column;
}

input {
    background-color: transparent;
    border: 0px solid;
}

.info .name {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 2px;
    padding: 4px;
    border-radius: 3px;

    font-size: 120%;

}

[contentEditable=true]:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0pt 2pt #5599ff;
}

[contentEditable=true]:focus {
    cursor: text;
    box-shadow: 0px 0px 0pt 2pt #44dd55;
    outline: 0px solid transparent;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    overflow: hidden;
}

[contenteditable="true"].single-line br {
    display: none;
}

[contenteditable="true"].single-line * {
    display: inline;
    white-space: nowrap;
}

[contentEditable=true]:empty:not(:focus):before {
    content:attr(data-ph);
    color: darkgrey;
}

.info .origin {
    width: 100%;
    margin: 2px;
    padding: 4px;
}

.info .location {
    width: 100%;
    margin: 2px;
    padding: 4px;
}

.info .notes {
    width: 100%;
    margin: 2px;
    flex: 2 2 auto;
    //box-shadow: 0px 0px 0pt 2pt #444444;
    border-radius: 3px;
    overflow: hidden;
    padding: 4px;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.row {
    max-width: 100%;
}

.gmnoprint img {
    max-width: none;
}
